.slider-container{
    margin: 1% 5%;

}
.image3{
    border-radius:25px;
}

.main-container{
    display: flex;
    flex-direction: column;
}
#mainbanner{
    display: flex;
    justify-content: center;
}
@media(max-width:768px){
    .image3{
        border-radius:10px;
    }
}