.slider-container{
    margin: 2vh 9vh 2vh 10vh;
    /* margin-left: 55px; */
    /* margin-bottom: -55px; */

}
.image3{
    border-radius: 45px;
}

.main-container{
    display: flex;
    flex-direction: column;
}
#mainbanner{
    display: flex;
    justify-content: center;
}