.container-section{
    margin: 2vh 10vh 2vh 10vh;
}
.container-section-form{
    display: grid;
    grid-template-columns: 3fr 9fr;
}
.circle-design{
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    opacity: 0.3;
    background-color: #0070F0E5;
}
